/*base style*/
.left{ float: left; }
.right { float:right; }
.add-item-icon {
    position: absolute !important;
    top: 0px !important;
    right: 0px !important;
    padding: 0 3px !important;
}

.container {
    min-width: 960px !important;
}

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
    width: 1170px;
}

#page-content {
    margin-left: 0px;
}

.add-on {
    height: 30px !important;
}

.input-small {
    height: 30px;
}

.editable-empty#applicant-patronymic {
    color: #dd1144;
    font-style: italic;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}
/*
.editable-inline .add-on .icon-th {
    margin-left: 1px;
    margin-top: -1px;
}
*/

/*.select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {*/
    /*height: 30px;*/
/*}*/

.select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    height: 34px;
}

.navbar-personium-brand {
    color: rgba(255, 255, 255, 0.5);
}
.navbar-personium-brand {
    float: left;
    font-size: 18px;
    line-height: 20px;
    padding: 10px 15px;
}
.navbar-personium-brand {
    height: 40px;
    width: 106px;
}

.table-responsive {
    min-height: 0.01%;
    overflow-x: visible;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    background: transparent none repeat scroll 0 0 !important;
    border: 0 none !important;
    border-radius: 0;
    box-shadow: none;
    color: #666;
    font-family: sans-serif;
    font-size: 100%;
    height: 25px;
    line-height: normal;
    margin: 1px 0;
    outline: 0 none;
    padding: 5px;
}

.editable-container .form-group {
    margin-left: 0px !important;
    margin-right: 0px !important ;
    padding-bottom: 7px;
}

#ApplicantSearchForm_cityIds_chosen {
    display: block;
}

#sidebar ul.chosen-choices {
    background: #ffffff !important;
}

#sidebar  li a.search-choice-close {
    position: absolute !important;
    padding: 1px !important;
    background: url('../img/chosen/chosen-sprite.png') -42px 1px no-repeat!important;
}


#sidebar ul li a {
    padding: 5px 10px 5px 5px !important;
}

#sidebar ul, #sidebar ul li a {
    background: #e6e7e8 !important;
}

.highlight { background-color: yellow }

#threads, #comments, #users {
    max-height: 3000px !important;
    overflow-x: hidden !important;
}

.panel-comments .editable-input textarea {
    width: 800px !important;
}

#comment-list a.editable {
   color: black !important;
}

#leftmenu-trigger, #rightmenu-trigger {
    background-image: url("/img/exit.png") !important;
}

input[name="Company[applicantCount]"],
input[name="Company[vacancyCount]"],
input[name="Company[userCount]"]
{
    max-width: 70px;
}

select[name="ACompany[personal]"] {
    max-width: 100px;
}

input[name="ACompany[admin_email]"],
select[name="ACompany[account]"] {
    max-width: 150px;
}

input[name="ACompany[id]"],
input[name="ACompany[credit]"],
input[name="ACompany[tariff_id]"],
input[name="ACompany[is_has_access_to_applicant_validate]"]
{
    max-width: 100px;
}
input[name="ACompany[id]"],
select[name="ACompany[user_count]"],
select[name="ACompany[applicant_count]"],
select[name="ACompany[vacancy_count]"],
select[name="ACompany[is_only_with_reply]"],
select[name="ACompany[published_vacancy_count]"] {
    max-width: 50px;
}

input[name="HrBoVipUser[id]"],
input[name="HrBoVipUser[status]"],
input[name="HrBoVipUser[type]"],
input[name="HrBoVipUser[rate]"]
{
    max-width: 50px;
}

input[name="HrBoVipUser[login]"]
{
    max-width: 100px;
}
/** --------------------------------- */
input[name="UserHrBoService[name]"],
input[name="UserHrBoService[phone]"],
input[name="UserHrBoService[company]"],
input[name="UserHrBoService[type]"]
{
    max-width: 100px;
}

input[name="UserHrBoService[user_id]"],
input[name="UserHrBoService[status]"],
input[name="UserHrBoService[is_has_access]"],
input[name="UserHrBoService[hr_bo_id]"]
{
    max-width: 50px;
}

input[name="UserHrBoService[hr_bo_vip_id]"]
{
    max-width: 70px;
}
/** ------------------------------------------- */
input[name="AHrBoVipUserCreditHistory[user_id]"],
input[name="AHrBoVipUserCreditHistory[charge]"],
input[name="AHrBoVipUserCreditHistory[visit]"],
input[name="AHrBoVipUserCreditHistory[vacancy_id]"],
input[name="AHrBoVipUserCreditHistory[vacancy_count]"],
input[name="AHrBoVipUserCreditHistory[rate]"]
{
    max-width: 50px;
}

input[name="AHrBoVipUserCreditHistory[credit]"] {
    max-width: 100px;
}

select[name="AVacancy[isPublishedToHh]"],
select[name="AVacancy[is_publish_to_free_feed]"],
select[name="AVacancy[is_publish_to_yandex_feed]"],
select[name="AVacancy[is_publish_to_jooble_feed]"],
select[name="AVacancy[is_publish_to_trovit_feed]"]
{
    max-width: 50px;
}

/** --- HR - Bo Vacancy Modal window ---------- */
.hr-bo.modal {
    background-clip: padding-box;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    left: 50% !important;
    margin-left: -280px;
    outline: medium none;
    position: fixed;
    top: 10%;
    width: 560px !important;
    z-index: 1050;
    bottom: auto !important;
}

.hr-bo.modal.fade.in {
    top: 30%;
}

.hr-bo.modal.fade {
    top: 5% !important;
    transition: opacity 0.3s linear 0s, top 0.3s ease-out 0s;
}

.hr-bo.modal.in .modal-dialog {
    transform: translate(0px, 60px) !important;
}

.modal-backdrop {
    background-color: #000000;
    bottom: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1040;
}

.hr-bo .modal-footer {
    border-top: 0 solid #e5e5e5 !important;
    padding: 20px;
    text-align: right;
    background-color: #ffffff;
}

.center_test {
    width: 70%;
    padding: 10px;
}
/** ------------------------------------------------- */


/*mpage element*/
.top-btns {
    margin: 20px 0;
    text-align: right;
}

.top-btns a {
    margin-left: 20px;
}

.top-btns a:first-child {
    margin-left: 0;
}

.mpage-table tr th:last-child{
    width: 10%;
}

.mpage-table tr td:last-child {
    text-align: center;
    font-size: 24px;
    vertical-align: middle;
}

.filters .btn-group{
    vertical-align: top;
}

.filters .dropdown-menu {
    min-width: auto;
    width: 100%;
}

.filters .label {
    font-size: 100%;
    display: block;
    width: 100%;
    margin: 0;
    cursor: pointer;
}

.mpage-table .label­danger{
    background: #e73c3c;
}

.mpage-table .label­warning{
    background: #f1c40f;
}

.mpage-table .label­success{
    background: #85c744;
}

.priority-danger {
    color: #e73c3c;
}

.priority-warning {
    color: #f1c40f;
}

.priority-success {
    color: #85c744;
}

.mpage-steps .panel-body {
    text-align: right;
}


.mpage-steps .panel-body h4,
.mpage-steps .panel-body p {
    text-align: left;
}

.applicant-form-panel label {
    margin: 10px 0 0;
}
.panel-body .form-control {
    margin-bottom: 10px;
}
.panel-body .form-group {
    padding-bottom: 10px;
}

.panel-body .chosen-container {
    display: block;
}

.social-group .form-control {
    padding-left: 35px;
}

.social-group .icon-input{
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: 10px;
    z-index: 99;
    left: 7px;
}

.button-column i{
    margin: 0 3px;
}

.vacancy-form .panel-heading{
    height: auto;
}


.slider {
    margin: 10px 0;
}

.contents_wrapper .focusedform .verticalcenter {
    top: 0;
    margin-top: 0px;
}

.contents_wrapper .focusedform .brand {
    padding-bottom: 0;
}

.contents_wrapper .focusedform .form-group {
    margin-bottom: 0;
}

.contents_wrapper .focusedform .input-group {
    margin-bottom: 20px;
}

input.error {
    border-color: red;
}

.errorMessage {
    color: red;
}

.button-column a.fa:hover {
    text-decoration: none;
}

.file-upload-btns .dropdown-menu {
    right: 0;
}
.file-upload-btns button {
    margin-left: 10px;
}

.logout-btn {
    color: #888888;
    color: rgba(255, 255, 255, 0.5);
    float: right;
    width: 40px;
    height: 40px;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    border-left: 1px solid #27292d;
}

.logout-btn:hover {
    text-decoration: none;
    color: #FFFFFF;
}

.dd-no-handle {
    background: #fafafa none repeat scroll 0 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: #333;
    display: block;
    font-weight: 400;
    height: 30px;
    margin: 5px 0;
    padding: 5px 10px;
    text-decoration: none;
}

.dd-user-no-handle {
    display: block;
    height: 30px;
    margin: 5px 0;
    padding: 5px 10px;
    color: #333;
    text-decoration: none;
    font-weight: 400;
}

span.required { color: red; !important;}

.editable-clear-x {
    margin-top: -11px; !important;
}

.active-error {
    color: red; !important;
}

.editable-clear {
    display: none;!important;
}

.menu-item-right a {
    padding-left: 650px;
    position: relative;
    color: yellow;
    background-color: #f7dc6f;
}

.main-menu-label {
    position:absolute;
    right:0;
    z-index:1;

}

.select-box-style{
    padding: 2px;
    color: #777777;
    font-size: 13px;    
    border: 1px solid #eaebec;
}
.left-column{
    width: 20%;
    min-width: 160px;
}
.right-column{
    width: 79%;
    min-width: 400px;
}
.clear_fix:after{
	display: block;
	width: 100%;
	height: 1%;
	clear: both;
	overflow: hidden;
	content: '';
}
.clear{	clear: both; }
.indent_top_10 { margin-top: 10px !important; }
.indent_left_20 { margin-left: 20px !important; }

.all-vacancy{ width: 40%; }

/*solution list*/
.solution-list{
    padding: 10px 0 10px 10px;
    margin: 0;
    list-style: none;
    background: #f7f6f5;
}
.solution-list a {
    display: block;
    padding: 5px 10px 5px 5px;
    color: #777777;
    font-size: 12px;
    text-decoration: none;
}
.solution-list .count { font-size: 13px; }
.solution-list a:hover {
    color: #777777;
    text-decoration: none;
    background: #ffffff;
}
.solution-list .active{
    color: #333333;
    background: #ffffff;
}
.solution-list .new{ color: #d10a11; }

/*check all experts*/
.check-all-experts{
    margin-right: 10px;
    line-height: 30px;
}
.check-all-experts input[type="checkbox"]{ margin-top: 8px; }
.check-all-experts label { 
    margin: 0 0 0 5px;
    color: #777777;
    font-size: 13px;
    cursor: pointer;
}

/*top button control*/
.top-button-control{ margin: 30px 0 10px; }
.button-control{
    float: right;
    width: 590px;
}
.top-button-control button{
    width: 110px;
    height: 30px;
    padding: 0;
    margin-right: 6px;
    color: #ffffff;
    text-align: center;
    border: none;
}
.top-button-control .invite-btn,
.top-button-control .add-btn{
    font-size: 11px;
    line-height: 1;
}
.top-button-control .invite-btn{ background: #c6dc80; }
.top-button-control .add-btn{ background: #7da7d9; }
.top-button-control .think-btn,
.top-button-control .refusal-btn{
    font-size: 13px;
    line-height: 30px;
}
.top-button-control .think-btn { background: #f7941d; }
.top-button-control .refusal-btn { background: #9e0b0f; }

/*search control*/
.search-control{ 
    height: 30px;
    float: right;
    margin: 0 2% 0 3%;
    padding: 2px 5px;
    background: #f7f6f5;
}
.search-control .input-search-control{
    height: 26px;
    width: 180px;
    padding: 0 5px;
    font-size: 12px;
    border: 1px solid #d3d8da;
}
.search-control .button-search-control {
    width: 60px;
    height: 26px;
    margin: 0 0 0 5px;
    color: #3aa2ef;
    text-align: center;
    font-size: 11px;
    border: 1px solid #3aa2ef;
    background: #f7f6f5;
}

/*expert item*/
.expert-list-item{
    position: relative;
    padding-bottom: 15px;
    font-family: Arial;
    border-top: 1px solid #dfdfdf;
}
.expert-list-item-status{
    position: absolute;
    top: 5px;
    left: 10px;
    color: #ffffff;
    background: #e63531;
}
.expert-list-item-vacancy{
    padding-top: 5px;
    /*position: absolute;*/
    font-size: 13px;
    text-decoration: underline;
    color: #0099ff !important;
}
.expert-list-item-price,
.expert-list-item-age{
    position: absolute;
    top: 10px;
    font-size: 14px;
    font-weight: bold;
}
.expert-list-item-price{ right: 120px; }
.expert-list-item-age{ right: 20px; }
.expert-list-item .image-column{
    width: 100px; 
    margin-left: 10px;
    text-align: center;
}
.expert-list-item .image-column .image{
    position: relative;
    width: 100px;
    height: 100px;
    margin-top: 30px;    
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.expert-list-item .image-column .image img {
    position: absolute;
    top: 0;
    left: 0;
    right:  0;
    bottom: 0;
    margin: auto;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.image-column-component{
    display: inline-block;
    margin-top: 7px;
    list-style: none;
    overflow: hidden;
    padding: 0;
}
.image-column-component li{
    float: left;
}
.image-column-component a{
    display: block;
    width: 19px;
    height: 16px;
    background: url(../img/image-column-component.png) no-repeat;
}
.image-column-component .view-icon{ background-position: 0 0; }
.image-column-component .load-icon{ 
    margin: 0 7px;
    background-position: -21px 0; 
}
.image-column-component .mail-icon{ background-position: -43px 0; }
.inform-column{
    width: 70%;
    max-width: 680px;
    margin-top: 30px;
    margin-left: 40px;
}
.inform-column .inform-column-check{
    margin-top: 2px;
    margin-left: -20px;
}
.inform-column .title{
    color: #0099ff;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}
.inform-column .name{
    color: #333333;
    font-size: 13px;
    font-weight: bold;
}
.inform-column .info{
    color: #777777;
    font-size: 12px;
}
.inform-column .lnk{ text-decoration: none; }
.inform-column .lnk span{ border-bottom: 1px dashed #333333; }
.inform-column .lnk:hover{ border-bottom: transparent; }
.inform-column .phone{
    padding-left: 24px;
    background: url(../img/icon_phone.png) no-repeat 0 0;
}
.expert-btn-refusal,
.expert-btn-think,
.expert-btn-base,
.expert-btn-in-base,
.expert-btn-invite{
    margin-right: 7px;
    padding: 2px 10px;
    color: #ffffff;
    font-size: 13px;
    text-align: center;
    border: none;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.expert-btn-refusal { background: #e73c3c; }
.expert-btn-think { background: #f1c40f; }
.expert-btn-base { background: #4f8edc; }
.expert-btn-in-base { background: #ABA5A5; }
.expert-btn-invite { background: #85c744; }

.mytextarea {
    min-height: 300px !important;
    min-width: 800px !important;
    /*border-bottom: 0 dashed #0088cc !important;*/
}

.experience-editable-textarea-js{
    border-bottom: 0 dashed #0088cc !important;
    text-decoration: none;
    color: #4d4d4d !important;
}

tr.spaceUnder
{
    border-top: 10px solid;
    border-bottom: 10px solid;
    border-color: transparent;
}

.popover-content {
    padding: 25px 15px !important;
}

.tooltip {
    opacity: 1 !important;
    position: relative !important;
}

.tooltipster-content a {
    color: white !important;
}

.create-element{ color: #85c744; }
.update-element{ color: #DF7401; }
.delete-element{ color: #e73c3c; }

@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,500,700&subset=latin,latin-ext,cyrillic-ext);

/*register form*/
b {
    font-weight: 500;
}
.left{ float: left;}
.right{ float:right; }
.clear{	clear: both; }
.form_top_indent{ margin-top: 20px !important; }
.form_top_indent_middle{ margin-top: 10px !important; }
.form_top_indent_small{ margin-top: 5px !important; }
.form_top_indent_left{ margin-left: 10px !important; }
.register_title{ text-align: center; }
.register_logo{
    display: block;
    width: 640px;
    height: 140px;
    margin: 40px auto;
}
.register_form{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    border: 1px solid #eaecee;
    font-family: 'Roboto', sans-serif;
    background: #ffffff;
}
.form_style{ font-size: 16px; }
.border_cut {
    padding-top: 20px;
    border-bottom: 1px solid #eaecee;
}
.form_style label{ 
    margin: 0 0 2px;
    line-height: 1.4;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.form_style .requered_simbol{
    color: #ff0000;
    font-size: 16px;
}
.form_style input[type="text"],
.form_style textarea,
.form_style select{
    color: #444444;
    font-size: 16px;
    border-radius: 0 !important;
    border: 1px solid #cfe1e8;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.form_style input[type="text"]{
    height: 40px;
    padding: 0 5px;
    line-height: 40px;    
}
.form_style textarea{
    width: 540px;
    height: 150px;
    padding: 5px;
    line-height: 1.2;
    resize: none;    
}
.form_style select{
    height: 40px;
    padding: 0 5px;
    border-radius: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.form_style .middle_width{ width: 240px; }
.form_style .form_block{ 
    margin-left: 20px;
    margin-right: 38px; 
}
.form_style .date_select{ width: 100px; }
.form_style .social_field { width: 505px; }
.form_style .social_item{
    width: 30px;
    height: 30px;
    margin-right: 5px;
    background: url(/themes/forest/img/marchellis_anketa_register/social_icon.png) no-repeat;
}
.form_style .vk{ background-position: -15px -15px; }
.form_style .fb{ background-position: -15px -195px; }
.form_style .inst{ background-position: -15px -135px; }
.form_style .odn{ background-position: -15px -255px; }
.form_style .other{ background-position: -15px -306px; }
.form_style .tw{ background-position: -15px -75px; }
.form_style .reg_lnk{ text-decoration: underline; }
.form_style .reg_lnk:hover{ text-decoration: none; }
.form_style .person_info{
    color: #858c9a;
    font-size: 14px;
    font-style: italic;
}
.display_print {
    display: none;
}
@media only screen and (max-device-width: 1024px){
    body { 
        padding-top: 0 !important;      
    }
    .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container{
        width: 100% !important;
        min-width: 0 !important;
    }
    .form_top_indent{ margin-top: 20px !important; }
    .register_logo img{ width: 100%; }
    .register_title{
        text-align: center;
        margin-left: 40px;
    }
    .form_style{ font-size: 16px; }
    .form_style .social_item { margin-top: 4px; }    
    .form_style input[type="text"]{
        height: 38px;
        line-height: 38px;
    }
    .btn-success {
        width: 100%;
        height: 50px;
        line-height: 50px;
        font-size: 20px !important;
    }
}
@media screen and (max-device-width: 480px){
    body { 
        padding-top: 0 !important;      
    }
    .container {
        padding: 0 !important;
    }
    .register_logo {
        width: 100%;
    }
    .register_title {
        margin-left: 0;
        text-align: center;
        font-size: 20px;
    }
    .form_style {
        width: 100%;
        padding: 0 20px;
        max-width: none !important;
        margin: 0 auto;
    }
    .form_style .form_block{
        float: none !important; 
        margin-left: 0;
        margin-right: 0;
    }
    .form_style input[type="text"],
    .form_style textarea,
    .form_style select{  
        width: 100% !important;       
        height: 50px;
        line-height: 50px;            
        font-size: 16px;
    }
    .middle_width {
        float: none !important;
        margin-left: 0 !important;
    }
    .social_field {
        width: 80%;
    }
    .btn-success {
        width: 100%;
        height: 50px;
        line-height: 50px;
        font-size: 20px !important;
    }
}
/* Стиль для печати */
@media print { 
    .print_width {
        width: 600px;
    }
    .with_cheack_box .form_top_indent_left{
        display: block;
    }
    .clear2 { clear: both; }
    .form_style{ 
        width: 100%;
        max-width: none;
        font-size: 13px; 
        border: none;
    }
   .form_style .form_block{ 
        margin-left: 0;
        margin-right: 0; 
    }
    .form_top_indent,
    .form_top_indent_middle {
        margin-top: 5px !important;
    }    
    .left {
        float: none !important;
    }
    .clear {
        display: none !important;
    }
    label {
        margin-right: 10px;
    }
}


td.to-center
{
    text-align:center;
    vertical-align:middle;
}

.status-table {
    min-width: 100px;
}

.VacancyDetails_title {
    padding-top: 10px;
    font-weight: bold;
}

.VacancyDetails_item {
    padding-left: 10px;
}

.h_first_letter_uppercase {

}

.tab-count-content {
    padding-left: 5px !important;
}
